<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <center>
            <form method="post">{% csrf_token %}
            <h2>SMS to me</h2>
            <br>
            <label for="text" > Body </label>
            <input type="text" name="text" id="" placeholder="Type your text">
            <br>

            <button type="submit">Send to me</button>
            <form
      </center>
</body>
</html>